.form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 350px;
    width: 50%;
    height: auto; /* Adjusts height dynamically based on content */
}

.topic, .description {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 100%;
    margin-top: 10px;
    height: 50px; 
    display: flex;
    align-items: center; 
    padding: 5px; 
}

.title, .desc {
    width: 100%;
    height: 100%; 
    border: none; 
    outline: none; 
    font-size: 16px; 
    padding-left: 10px; 
    box-sizing: border-box; 
}

.button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; /* Removes the default button border */
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    align-self: center; 
    margin-top: 20px; 
}

.button:hover {
    background-color: #45a049; 
}